/* Force Markdown images to scale responsively */
img {
  max-width: 65%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt=teensy_select] {
  max-width: 100px;
}